.htaccess
wp-content/*.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/plugins/*.php
wp-content/plugins/json-api/
wp-content/plugins/wordpress-importer/
wp-content/themes
wp-admin
wp-includes
/*.*

